{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block body %}
    <div class="d-flex container-fluid flex-column my-auto">
        <p></p>
        <div class="d-flex align-self-center">
            <h1>Login</h1>
        </div>
        <p></p>
        <div class="d-flex align-self-center flex-column">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-md-12 text-center">
                    <button class="btn btn-lg btn-primary" type="submit">Login</button>
                    <a class="btn btn-lg btn-primary" href="{% url 'signup' %}">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}