{% load getatrr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
<h1><a href="{% url 'main-page' %}">Your e-clinic</a></h1>
<p>
    {% if user.is_authenticated %}
        <b>{{ user.first_name }} {{ user.last_name }}</b>
        {% if user|get_attr:'doctor' %}
            <a href="{% url 'add-term' %}">Add terms</a>
        {% endif %}
        <a href="{% url 'user-visits' %}">Your Visits</a>
        <a href="{% url 'logout-page' %}">Logout</a>
    {% else %}
        <a href="{% url 'login-page' %}">Login</a>
    {% endif %}
    <a href="{% url 'specializations' %}">MAKE AN APPOINTMENT</a>
    <a href="{% url 'procedures' %}">Treatments Offer</a>
    <a href="#">Contact Us</a>
</p>
{% block body %}
{% endblock %}
<footer>Aleksander Kędziora ©</footer>
</body>
</html>