<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
    <h1>Twoja e-klinika</h1>
    <p>
        {% if user.is_authenticated %}
        <b>{{ user.first_name }} {{ user.last_name }}</b>
        <a href="{% url 'user-visits' %}">Twoje wizyty</a>
        <a href="{% url 'logout-page' %}">Wyloguj się</a>
        {% else %}
        <a href="{% url 'login-page' %}">Zaloguj się</a>
        {% endif %}
        <a href="{% url 'main-page' %}">Strona główna</a>
        <a href="{% url 'specializations' %}">Specjalizacje</a>
        <a href="{% url 'procedures' %}">Oferta</a>
        <a href="#">Kontakt</a>
    </p>
    {% block body %}
    {% endblock %}
<footer>Aleksander Kędziora ©</footer>
</body>
</html>