{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block body %}
    <div class="d-flex container-fluid flex-column my-auto">
        <p></p>
        <div class="d-flex align-self-center">
            <h1>Add Multiple Terms</h1>
        </div>
        <p></p>
        <div class="d-flex align-self-center flex-column">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-md-30 text-center">
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">Add</button>
                    <a class="btn btn-lg btn-primary btn-sm" href="{% url 'main-page' %}">Cancel</a>
                </div>
            </form>
            <div class="col-md-30 text-center p-2"> or </div>
            <div class="col-md-30 text-center">
                <a class="btn btn-lg btn-primary btn-sm" href="{% url 'add-term' %}">Add Single Term</a>
            </div>
        </div>
    </div>
{% endblock %}