{% extends 'base.html' %}
{% load getatrr %}
{% block body %}
    <b>Your Visits:</b>
    <ul>
    {% for visit in visit_list %}
        <li>
            {{ visit.date.date }} {{ visit.date.visit_hour }},
            {% if user|get_attr:'patient'%}
            {{ visit.doctor.get_title_or_degree_display }}
            {{ visit.doctor.name }}
            {% else %}
            {{ visit.patient.name }}
            {% endif %}
            <button><a href="{% url 'visit-details' visit.id %}">Visit Details</a></button>
            <button><a href="{% url 'visit-cancel' visit.id %}">Cancel Visit</a></button>
        </li>
    {% endfor %}
    </ul>
{% endblock %}