{% extends 'base.html' %}
{% block body %}
    <div class="d-flex container-fluid flex-column">
        <p></p>
        <div class="d-flex align-self-start">
            <h2>Procedure Details</h2>
        </div>
        <p></p>
        <div class="d-flex align-self-center row border border-primary rounded">
            <div class="col-md-45 p-3">
                <p>Procedure name: {{ procedure.name }}</p>
                <p>Price: {{ procedure.price }} PLN</p>
                <p></p>
                <b>Performed by:</b>
                {% for doc in procedure.doctor_set.all %}
                    <p></p>
                    <a href="{% url 'specialization-detail' doc.specializations.all.first.id  %}">{{ doc.get_title_or_degree_display }} {{ doc.name }}, </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

