{% extends 'base.html' %}
{% block body %}
    <div class="d-flex container-fluid flex-column">
        <p></p>
        <div class="d-flex align-self-center">
            <h1>Add Term</h1>
        </div>
        <p></p>
        <div class="d-flex align-self-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-md-12 text-center">
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">Add</button>
                    <a class="btn btn-lg btn-primary btn-sm" href="{% url 'main-page' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

