{% extends 'base.html' %}
{% load getatrr %}
{% block body %}
    <p><b>Day: {{ visit.date.date }}</b></p>
    <p>Hour: {{ visit.date.hour_from }}</p>
    {% if user|get_attr:'patient' %}
        <p>Doctor's name: {{ visit.doctor.get_title_or_degree_display }} {{ visit.doctor.name }}</p>
    {% else %}
        <p>Patient's name: {{ visit.patient.name}}</p>
    {% endif %}
    <p>Treatment: {{ visit.procedure.name }}
    <p>Price: {{ visit.procedure.price }} zł</p>
    <p>Office: {{ visit.date.office }}</p>
{% endblock %}